# DOOM — Détection de Fuites Hydrauliques
# Dépendances Python

# Calcul scientifique
numpy>=1.24.0
pandas>=2.0.0
scipy>=1.10.0

# Visualisation
matplotlib>=3.7.0

# Lecture des fichiers EPANET (optionnel mais recommandé)
# Installe avec : pip install wntr
wntr>=1.1.0

# (Optionnel) Interface console enrichie
# rich>=13.0.0